-- AlterEnum
BEGIN;
CREATE TYPE "UserRole_new" AS ENUM ('SUPER_ADMIN', 'CORP_ADMIN', 'EDITOR', 'ADVISER');
ALTER TABLE "users" ALTER COLUMN "role" TYPE "UserRole_new" USING ("role"::text::"UserRole_new");
ALTER TYPE "UserRole" RENAME TO "UserRole_old";
ALTER TYPE "UserRole_new" RENAME TO "UserRole";
DROP TYPE "UserRole_old";
COMMIT;

-- CreateTable
CREATE TABLE "dataset_cmgoo5jte0002h084z4ugodem" (
    "SA1_Region_ID" TEXT,
    "State_Code" TEXT,
    "Total_Persons" TEXT,
    "Total_OccPvt_Dwellings" TEXT,
    "Age_yr_0_4_P" TEXT,
    "Age_yr_5_9_P" TEXT,
    "Age_yr_10_14_P" TEXT,
    "Age_yr_15_19_P" TEXT,
    "Age_yr_20_24_P" TEXT,
    "Age_yr_25_29_P" TEXT,
    "Age_yr_30_34_P" TEXT,
    "Age_yr_35_39_P" TEXT,
    "Age_yr_40_44_P" TEXT,
    "Age_yr_45_49_P" TEXT,
    "Age_yr_50_54_P" TEXT,
    "Age_yr_55_59_P" TEXT,
    "Age_yr_60_64_P" TEXT,
    "Age_yr_65_69_P" TEXT,
    "Age_yr_70_74_P" TEXT,
    "Age_yr_75_79_P" TEXT,
    "Age_yr_80_84_P" TEXT,
    "Age_yr_85_89_P" TEXT,
    "Age_yr_90_94_P" TEXT,
    "Age_yr_95_99_P" TEXT,
    "Age_yr_100_yr_over_P" TEXT,
    "Tot_P_Re_Age" TEXT,
    "P_Y12e_Tot" TEXT,
    "P_Y11e_Tot" TEXT,
    "P_Y10e_Tot" TEXT,
    "P_Y9e_Tot" TEXT,
    "P_Y8b_Tot" TEXT,
    "P_DNGTS_Tot" TEXT,
    "P_Hghst_yr_schl_ns_Tot" TEXT,
    "Total_P_Re_Highest_Schooling" TEXT,
    "Infants_Primary_Tot_P" TEXT,
    "Secondary_Tot_P" TEXT,
    "Tec_Furt_Educ_inst_Tot_P" TEXT,
    "Uni_other_Tert_Instit_Tot_P" TEXT,
    "Other_type_educ_instit_Tot_P" TEXT,
    "Type_educanl_institution_ns_P" TEXT,
    "Tot_P_Re_Edu_Institution" TEXT,
    "P_Tot_Married" TEXT,
    "P_Tot_Separated" TEXT,
    "P_Tot_Divorced" TEXT,
    "P_Tot_Widowed" TEXT,
    "P_Tot_Never_Married" TEXT,
    "P_Tot_re_Marital" TEXT,
    "CF_no_children_F" TEXT,
    "CF_ChU15_a_Total_F" TEXT,
    "CF_no_ChU15_a_Total_F" TEXT,
    "OPF_ChU15_a_Total_F" TEXT,
    "OPF_no_ChU15_a_Total_F" TEXT,
    "Other_family_F" TEXT,
    "Total_F_Re_Family_Type" TEXT,
    "Total_Non_Family_HH_re_Size" TEXT,
    "Negative_Nil_income_Tot" TEXT,
    "HI_1_149_Tot" TEXT,
    "HI_150_299_Tot" TEXT,
    "HI_300_399_Tot" TEXT,
    "HI_400_499_Tot" TEXT,
    "HI_500_649_Tot" TEXT,
    "HI_650_799_Tot" TEXT,
    "HI_800_999_Tot" TEXT,
    "HI_1000_1249_Tot" TEXT,
    "HI_1250_1499_Tot" TEXT,
    "HI_1500_1749_Tot" TEXT,
    "HI_1750_1999_Tot" TEXT,
    "HI_2000_2499_Tot" TEXT,
    "HI_2500_2999_Tot" TEXT,
    "HI_3000_3499_Tot" TEXT,
    "HI_3500_3999_Tot" TEXT,
    "HI_4000_more_Tot" TEXT,
    "Partial_income_stated_Tot" TEXT,
    "All_incomes_not_stated_Tot" TEXT,
    "Total_Households_Re_Income" TEXT,
    "P_Neg_Nil_income_Tot" TEXT,
    "P_1_149_Tot" TEXT,
    "P_150_299_Tot" TEXT,
    "P_300_399_Tot" TEXT,
    "P_400_499_Tot" TEXT,
    "P_500_649_Tot" TEXT,
    "P_650_799_Tot" TEXT,
    "P_800_999_Tot" TEXT,
    "P_1000_1249_Tot" TEXT,
    "P_1250_1499_Tot" TEXT,
    "P_1500_1749_Tot" TEXT,
    "P_1750_1999_Tot" TEXT,
    "P_2000_2999_Tot" TEXT,
    "P_3000_more_Tot" TEXT,
    "P_PI_NS_ns_Tot" TEXT,
    "P_Tot_Re_Income" TEXT,
    "M_0_299_Tot" TEXT,
    "M_300_449_Tot" TEXT,
    "M_450_599_Tot" TEXT,
    "M_600_799_Tot" TEXT,
    "M_800_999_Tot" TEXT,
    "M_1000_1399_Tot" TEXT,
    "M_1400_1799_Tot" TEXT,
    "M_1800_2399_Tot" TEXT,
    "M_2400_2999_Tot" TEXT,
    "M_3000_3999_Tot" TEXT,
    "M_4000_over_Tot" TEXT,
    "Mort_Rpmnt_ns_Total" TEXT,
    "Tot_Re_Monthly_Mortgage" TEXT,
    "R_0_74_Tot" TEXT,
    "R_75_99_Tot" TEXT,
    "R_100_149_Tot" TEXT,
    "R_150_199_Tot" TEXT,
    "R_200_224_Tot" TEXT,
    "R_225_274_Tot" TEXT,
    "R_275_349_Tot" TEXT,
    "R_350_449_Tot" TEXT,
    "R_450_549_Tot" TEXT,
    "R_550_649_Tot" TEXT,
    "R_650_749_Tot" TEXT,
    "R_750_849_Tot" TEXT,
    "R_850_949_Tot" TEXT,
    "R_950_over_Tot" TEXT,
    "Rent_ns_Tot" TEXT,
    "Tot_Re_Monthly_Rent" TEXT,
    "OPDs_Separate_house_Dwellings" TEXT,
    "OPDs_SD_r_t_h_th_Tot_Dwgs" TEXT,
    "OPDs_Flt_unit_apart_Tot_Dwgs" TEXT,
    "OPDs_Other_dwelling_Tot_Dwgs" TEXT,
    "OPDs_Dwlling_structur_NS_Dwgs" TEXT,
    "OPDs_Tot_OPDs_Dwellings" TEXT,
    "Unoccupied_PDs_Dwgs" TEXT,
    "Total_PDs_Dwellings" TEXT,
    "O_Outright_Total" TEXT,
    "O_Mortgage_Total" TEXT,
    "Rent_Total" TEXT,
    "Oth_ten_type_Total" TEXT,
    "Ten_type_NS_Total" TEXT,
    "Total_P_Re_Tenure" TEXT,
    "Num_MVs_per_dweling_0_MVs" TEXT,
    "Num_MVs_per_dweling_1_MVs" TEXT,
    "Num_MVs_per_dweling_2_MVs" TEXT,
    "Num_MVs_per_dweling_3_MVs" TEXT,
    "Num_MVs_per_dweling_4mo_MVs" TEXT,
    "Num_MVs_per_dweling_Tot" TEXT,
    "Num_MVs_NS" TEXT,
    "Total_dwelings_re_MV" TEXT,
    "Australia_P" TEXT,
    "England_P" TEXT,
    "New_Zealand_P" TEXT,
    "China_P" TEXT,
    "India_P" TEXT,
    "Philippines_P" TEXT,
    "Vietnam_P" TEXT,
    "South_Africa_P" TEXT,
    "Other_P" TEXT,
    "Country_birth_not_stated_P" TEXT,
    "Tot_P_Re_CO_Birth" TEXT,
    "SEO_Persons" TEXT,
    "SOL_Chin_lang_Tot_P" TEXT,
    "SOL_IAL_Tot_P" TEXT,
    "SOL_Arabic_P" TEXT,
    "SOL_SAL_Tot_P" TEXT,
    "SOL_Other_Non_English_P" TEXT,
    "Language_spoken_home_ns_P" TEXT,
    "Total_P_Re_Language" TEXT,
    "Buddhism_P" TEXT,
    "Christianity_Tot_P" TEXT,
    "Hinduism_P" TEXT,
    "Islam_P" TEXT,
    "Judaism_P" TEXT,
    "Other_Religions_Tot_P" TEXT,
    "No_Religion_P" TEXT,
    "Religious_affiliation_ns_P" TEXT,
    "Tot_P_Re_Religion" TEXT,
    "Int_accessed_from_dwel_Ttl" TEXT,
    "Int_notaccessed_from_dwel_Ttl" TEXT,
    "Dwelling_Intconn_ns_Ttl" TEXT,
    "Tot_Dwell_Re_Internet" TEXT,
    "P_PGrad_Deg_Total" TEXT,
    "P_GradDip_and_GradCert_Total" TEXT,
    "P_BachDeg_Total" TEXT,
    "P_AdvDip_and_Dip_Total" TEXT,
    "P_Cert_Lev_Tot_Total" TEXT,
    "P_Lev_Edu_ID_NS_Total" TEXT,
    "P_Tot_Total_Re_NonSchEdu" TEXT,
    "P_Tot_Managers" TEXT,
    "P_Tot_Professionals" TEXT,
    "P_Tot_TechnicTrades_W" TEXT,
    "P_Tot_CommunPersnlSvc_W" TEXT,
    "P_Tot_ClericalAdminis_W" TEXT,
    "P_Tot_Sales_W" TEXT,
    "P_Tot_Mach_oper_drivers" TEXT,
    "P_Tot_Labourers" TEXT,
    "P_Tot_Occu_ID_NS" TEXT,
    "P_Tot_Tot_Occu" TEXT,
    "SEIFA_Score_IRSAD" TEXT,
    "Total_Persons_re_SEIFA" TEXT,
    "City_or_State_Reference" TEXT,
    "Age_Group_40_85" TEXT,
    "geom" geometry
);

-- CreateTable
CREATE TABLE "dataset_cmgoo6s370004h084tgre9k42" (
    "id" TEXT,
    "lc_ply_pid" TEXT,
    "dt_create" TEXT,
    "dt_retire" TEXT,
    "loc_pid" TEXT,
    "act_locali" TEXT,
    "act_loca_1" TEXT,
    "act_loca_2" TEXT,
    "act_loca_3" TEXT,
    "act_loca_4" TEXT,
    "act_loca_5" TEXT,
    "act_loca_6" TEXT,
    "act_loca_7" TEXT,
    "nsw_locali" TEXT,
    "nsw_loca_1" TEXT,
    "nsw_loca_2" TEXT,
    "nsw_loca_3" TEXT,
    "nsw_loca_4" TEXT,
    "nsw_loca_5" TEXT,
    "nsw_loca_6" TEXT,
    "nsw_loca_7" TEXT,
    "nt_localit" TEXT,
    "nt_local_1" TEXT,
    "nt_local_2" TEXT,
    "nt_local_3" TEXT,
    "nt_local_4" TEXT,
    "nt_local_5" TEXT,
    "nt_local_6" TEXT,
    "nt_local_7" TEXT,
    "qld_locali" TEXT,
    "qld_loca_1" TEXT,
    "qld_loca_2" TEXT,
    "qld_loca_3" TEXT,
    "qld_loca_4" TEXT,
    "qld_loca_5" TEXT,
    "qld_loca_6" TEXT,
    "qld_loca_7" TEXT,
    "sa_localit" TEXT,
    "sa_local_1" TEXT,
    "sa_local_2" TEXT,
    "sa_local_3" TEXT,
    "sa_local_4" TEXT,
    "sa_local_5" TEXT,
    "sa_local_6" TEXT,
    "sa_local_7" TEXT,
    "tas_locali" TEXT,
    "tas_loca_1" TEXT,
    "tas_loca_2" TEXT,
    "tas_loca_3" TEXT,
    "tas_loca_4" TEXT,
    "tas_loca_5" TEXT,
    "tas_loca_6" TEXT,
    "tas_loca_7" TEXT,
    "vic_locali" TEXT,
    "vic_loca_1" TEXT,
    "vic_loca_2" TEXT,
    "vic_loca_3" TEXT,
    "vic_loca_4" TEXT,
    "vic_loca_5" TEXT,
    "vic_loca_6" TEXT,
    "vic_loca_7" TEXT,
    "wa_localit" TEXT,
    "wa_local_1" TEXT,
    "wa_local_2" TEXT,
    "wa_local_3" TEXT,
    "wa_local_4" TEXT,
    "wa_local_5" TEXT,
    "wa_local_6" TEXT,
    "wa_local_7" TEXT,
    "geom" geometry
);

-- CreateTable
CREATE TABLE "dataset_cmgoo89tz0006h084int4jryg" (
    "STE_CODE21" TEXT,
    "STE_NAME21" TEXT,
    "CHG_FLAG21" TEXT,
    "CHG_LBL21" TEXT,
    "AUS_CODE21" TEXT,
    "AUS_NAME21" TEXT,
    "AREASQKM21" TEXT,
    "LOCI_URI21" TEXT,
    "geom" geometry
);

-- CreateTable
CREATE TABLE "dataset_cmgpps8kw0001nvdyd0xi20vs" (
    "id" TEXT,
    "lc_ply_pid" TEXT,
    "dt_create" TEXT,
    "dt_retire" TEXT,
    "loc_pid" TEXT,
    "act_locali" TEXT,
    "act_loca_1" TEXT,
    "act_loca_2" TEXT,
    "act_loca_3" TEXT,
    "act_loca_4" TEXT,
    "act_loca_5" TEXT,
    "act_loca_6" TEXT,
    "act_loca_7" TEXT,
    "nsw_locali" TEXT,
    "nsw_loca_1" TEXT,
    "nsw_loca_2" TEXT,
    "nsw_loca_3" TEXT,
    "nsw_loca_4" TEXT,
    "nsw_loca_5" TEXT,
    "nsw_loca_6" TEXT,
    "nsw_loca_7" TEXT,
    "nt_localit" TEXT,
    "nt_local_1" TEXT,
    "nt_local_2" TEXT,
    "nt_local_3" TEXT,
    "nt_local_4" TEXT,
    "nt_local_5" TEXT,
    "nt_local_6" TEXT,
    "nt_local_7" TEXT,
    "qld_locali" TEXT,
    "qld_loca_1" TEXT,
    "qld_loca_2" TEXT,
    "qld_loca_3" TEXT,
    "qld_loca_4" TEXT,
    "qld_loca_5" TEXT,
    "qld_loca_6" TEXT,
    "qld_loca_7" TEXT,
    "sa_localit" TEXT,
    "sa_local_1" TEXT,
    "sa_local_2" TEXT,
    "sa_local_3" TEXT,
    "sa_local_4" TEXT,
    "sa_local_5" TEXT,
    "sa_local_6" TEXT,
    "sa_local_7" TEXT,
    "tas_locali" TEXT,
    "tas_loca_1" TEXT,
    "tas_loca_2" TEXT,
    "tas_loca_3" TEXT,
    "tas_loca_4" TEXT,
    "tas_loca_5" TEXT,
    "tas_loca_6" TEXT,
    "tas_loca_7" TEXT,
    "vic_locali" TEXT,
    "vic_loca_1" TEXT,
    "vic_loca_2" TEXT,
    "vic_loca_3" TEXT,
    "vic_loca_4" TEXT,
    "vic_loca_5" TEXT,
    "vic_loca_6" TEXT,
    "vic_loca_7" TEXT,
    "wa_localit" TEXT,
    "wa_local_1" TEXT,
    "wa_local_2" TEXT,
    "wa_local_3" TEXT,
    "wa_local_4" TEXT,
    "wa_local_5" TEXT,
    "wa_local_6" TEXT,
    "wa_local_7" TEXT,
    "geom" geometry
);

-- CreateTable
CREATE TABLE "dataset_cmgppv2cw000511ujnc4rzzzc" (
    "id" TEXT,
    "lc_ply_pid" TEXT,
    "dt_create" TEXT,
    "dt_retire" TEXT,
    "loc_pid" TEXT,
    "act_locali" TEXT,
    "act_loca_1" TEXT,
    "act_loca_2" TEXT,
    "act_loca_3" TEXT,
    "act_loca_4" TEXT,
    "act_loca_5" TEXT,
    "act_loca_6" TEXT,
    "act_loca_7" TEXT,
    "nsw_locali" TEXT,
    "nsw_loca_1" TEXT,
    "nsw_loca_2" TEXT,
    "nsw_loca_3" TEXT,
    "nsw_loca_4" TEXT,
    "nsw_loca_5" TEXT,
    "nsw_loca_6" TEXT,
    "nsw_loca_7" TEXT,
    "nt_localit" TEXT,
    "nt_local_1" TEXT,
    "nt_local_2" TEXT,
    "nt_local_3" TEXT,
    "nt_local_4" TEXT,
    "nt_local_5" TEXT,
    "nt_local_6" TEXT,
    "nt_local_7" TEXT,
    "qld_locali" TEXT,
    "qld_loca_1" TEXT,
    "qld_loca_2" TEXT,
    "qld_loca_3" TEXT,
    "qld_loca_4" TEXT,
    "qld_loca_5" TEXT,
    "qld_loca_6" TEXT,
    "qld_loca_7" TEXT,
    "sa_localit" TEXT,
    "sa_local_1" TEXT,
    "sa_local_2" TEXT,
    "sa_local_3" TEXT,
    "sa_local_4" TEXT,
    "sa_local_5" TEXT,
    "sa_local_6" TEXT,
    "sa_local_7" TEXT,
    "tas_locali" TEXT,
    "tas_loca_1" TEXT,
    "tas_loca_2" TEXT,
    "tas_loca_3" TEXT,
    "tas_loca_4" TEXT,
    "tas_loca_5" TEXT,
    "tas_loca_6" TEXT,
    "tas_loca_7" TEXT,
    "vic_locali" TEXT,
    "vic_loca_1" TEXT,
    "vic_loca_2" TEXT,
    "vic_loca_3" TEXT,
    "vic_loca_4" TEXT,
    "vic_loca_5" TEXT,
    "vic_loca_6" TEXT,
    "vic_loca_7" TEXT,
    "wa_localit" TEXT,
    "wa_local_1" TEXT,
    "wa_local_2" TEXT,
    "wa_local_3" TEXT,
    "wa_local_4" TEXT,
    "wa_local_5" TEXT,
    "wa_local_6" TEXT,
    "wa_local_7" TEXT,
    "geom" geometry
);

-- CreateTable
CREATE TABLE "dataset_cmgq3skws0001s1pbdfaovyrf" (
    "STE_CODE21" TEXT,
    "STE_NAME21" TEXT,
    "CHG_FLAG21" TEXT,
    "CHG_LBL21" TEXT,
    "AUS_CODE21" TEXT,
    "AUS_NAME21" TEXT,
    "AREASQKM21" TEXT,
    "LOCI_URI21" TEXT,
    "geom" geometry
);

-- CreateTable
CREATE TABLE "dataset_cmgq3szo100019drsjbsp3h9b" (
    "STE_CODE21" TEXT,
    "STE_NAME21" TEXT,
    "CHG_FLAG21" TEXT,
    "CHG_LBL21" TEXT,
    "AUS_CODE21" TEXT,
    "AUS_NAME21" TEXT,
    "AREASQKM21" TEXT,
    "LOCI_URI21" TEXT,
    "geom" geometry
);

-- CreateTable
CREATE TABLE "dataset_cmgq3u8qy00039drss15e7nqe" (
    "SA1_Region_ID" TEXT,
    "State_Code" TEXT,
    "Total_Persons" TEXT,
    "Total_OccPvt_Dwellings" TEXT,
    "Age_yr_0_4_P" TEXT,
    "Age_yr_5_9_P" TEXT,
    "Age_yr_10_14_P" TEXT,
    "Age_yr_15_19_P" TEXT,
    "Age_yr_20_24_P" TEXT,
    "Age_yr_25_29_P" TEXT,
    "Age_yr_30_34_P" TEXT,
    "Age_yr_35_39_P" TEXT,
    "Age_yr_40_44_P" TEXT,
    "Age_yr_45_49_P" TEXT,
    "Age_yr_50_54_P" TEXT,
    "Age_yr_55_59_P" TEXT,
    "Age_yr_60_64_P" TEXT,
    "Age_yr_65_69_P" TEXT,
    "Age_yr_70_74_P" TEXT,
    "Age_yr_75_79_P" TEXT,
    "Age_yr_80_84_P" TEXT,
    "Age_yr_85_89_P" TEXT,
    "Age_yr_90_94_P" TEXT,
    "Age_yr_95_99_P" TEXT,
    "Age_yr_100_yr_over_P" TEXT,
    "Tot_P_Re_Age" TEXT,
    "P_Y12e_Tot" TEXT,
    "P_Y11e_Tot" TEXT,
    "P_Y10e_Tot" TEXT,
    "P_Y9e_Tot" TEXT,
    "P_Y8b_Tot" TEXT,
    "P_DNGTS_Tot" TEXT,
    "P_Hghst_yr_schl_ns_Tot" TEXT,
    "Total_P_Re_Highest_Schooling" TEXT,
    "Infants_Primary_Tot_P" TEXT,
    "Secondary_Tot_P" TEXT,
    "Tec_Furt_Educ_inst_Tot_P" TEXT,
    "Uni_other_Tert_Instit_Tot_P" TEXT,
    "Other_type_educ_instit_Tot_P" TEXT,
    "Type_educanl_institution_ns_P" TEXT,
    "Tot_P_Re_Edu_Institution" TEXT,
    "P_Tot_Married" TEXT,
    "P_Tot_Separated" TEXT,
    "P_Tot_Divorced" TEXT,
    "P_Tot_Widowed" TEXT,
    "P_Tot_Never_Married" TEXT,
    "P_Tot_re_Marital" TEXT,
    "CF_no_children_F" TEXT,
    "CF_ChU15_a_Total_F" TEXT,
    "CF_no_ChU15_a_Total_F" TEXT,
    "OPF_ChU15_a_Total_F" TEXT,
    "OPF_no_ChU15_a_Total_F" TEXT,
    "Other_family_F" TEXT,
    "Total_F_Re_Family_Type" TEXT,
    "Total_Non_Family_HH_re_Size" TEXT,
    "Negative_Nil_income_Tot" TEXT,
    "HI_1_149_Tot" TEXT,
    "HI_150_299_Tot" TEXT,
    "HI_300_399_Tot" TEXT,
    "HI_400_499_Tot" TEXT,
    "HI_500_649_Tot" TEXT,
    "HI_650_799_Tot" TEXT,
    "HI_800_999_Tot" TEXT,
    "HI_1000_1249_Tot" TEXT,
    "HI_1250_1499_Tot" TEXT,
    "HI_1500_1749_Tot" TEXT,
    "HI_1750_1999_Tot" TEXT,
    "HI_2000_2499_Tot" TEXT,
    "HI_2500_2999_Tot" TEXT,
    "HI_3000_3499_Tot" TEXT,
    "HI_3500_3999_Tot" TEXT,
    "HI_4000_more_Tot" TEXT,
    "Partial_income_stated_Tot" TEXT,
    "All_incomes_not_stated_Tot" TEXT,
    "Total_Households_Re_Income" TEXT,
    "P_Neg_Nil_income_Tot" TEXT,
    "P_1_149_Tot" TEXT,
    "P_150_299_Tot" TEXT,
    "P_300_399_Tot" TEXT,
    "P_400_499_Tot" TEXT,
    "P_500_649_Tot" TEXT,
    "P_650_799_Tot" TEXT,
    "P_800_999_Tot" TEXT,
    "P_1000_1249_Tot" TEXT,
    "P_1250_1499_Tot" TEXT,
    "P_1500_1749_Tot" TEXT,
    "P_1750_1999_Tot" TEXT,
    "P_2000_2999_Tot" TEXT,
    "P_3000_more_Tot" TEXT,
    "P_PI_NS_ns_Tot" TEXT,
    "P_Tot_Re_Income" TEXT,
    "M_0_299_Tot" TEXT,
    "M_300_449_Tot" TEXT,
    "M_450_599_Tot" TEXT,
    "M_600_799_Tot" TEXT,
    "M_800_999_Tot" TEXT,
    "M_1000_1399_Tot" TEXT,
    "M_1400_1799_Tot" TEXT,
    "M_1800_2399_Tot" TEXT,
    "M_2400_2999_Tot" TEXT,
    "M_3000_3999_Tot" TEXT,
    "M_4000_over_Tot" TEXT,
    "Mort_Rpmnt_ns_Total" TEXT,
    "Tot_Re_Monthly_Mortgage" TEXT,
    "R_0_74_Tot" TEXT,
    "R_75_99_Tot" TEXT,
    "R_100_149_Tot" TEXT,
    "R_150_199_Tot" TEXT,
    "R_200_224_Tot" TEXT,
    "R_225_274_Tot" TEXT,
    "R_275_349_Tot" TEXT,
    "R_350_449_Tot" TEXT,
    "R_450_549_Tot" TEXT,
    "R_550_649_Tot" TEXT,
    "R_650_749_Tot" TEXT,
    "R_750_849_Tot" TEXT,
    "R_850_949_Tot" TEXT,
    "R_950_over_Tot" TEXT,
    "Rent_ns_Tot" TEXT,
    "Tot_Re_Monthly_Rent" TEXT,
    "OPDs_Separate_house_Dwellings" TEXT,
    "OPDs_SD_r_t_h_th_Tot_Dwgs" TEXT,
    "OPDs_Flt_unit_apart_Tot_Dwgs" TEXT,
    "OPDs_Other_dwelling_Tot_Dwgs" TEXT,
    "OPDs_Dwlling_structur_NS_Dwgs" TEXT,
    "OPDs_Tot_OPDs_Dwellings" TEXT,
    "Unoccupied_PDs_Dwgs" TEXT,
    "Total_PDs_Dwellings" TEXT,
    "O_Outright_Total" TEXT,
    "O_Mortgage_Total" TEXT,
    "Rent_Total" TEXT,
    "Oth_ten_type_Total" TEXT,
    "Ten_type_NS_Total" TEXT,
    "Total_P_Re_Tenure" TEXT,
    "Num_MVs_per_dweling_0_MVs" TEXT,
    "Num_MVs_per_dweling_1_MVs" TEXT,
    "Num_MVs_per_dweling_2_MVs" TEXT,
    "Num_MVs_per_dweling_3_MVs" TEXT,
    "Num_MVs_per_dweling_4mo_MVs" TEXT,
    "Num_MVs_per_dweling_Tot" TEXT,
    "Num_MVs_NS" TEXT,
    "Total_dwelings_re_MV" TEXT,
    "Australia_P" TEXT,
    "England_P" TEXT,
    "New_Zealand_P" TEXT,
    "China_P" TEXT,
    "India_P" TEXT,
    "Philippines_P" TEXT,
    "Vietnam_P" TEXT,
    "South_Africa_P" TEXT,
    "Other_P" TEXT,
    "Country_birth_not_stated_P" TEXT,
    "Tot_P_Re_CO_Birth" TEXT,
    "SEO_Persons" TEXT,
    "SOL_Chin_lang_Tot_P" TEXT,
    "SOL_IAL_Tot_P" TEXT,
    "SOL_Arabic_P" TEXT,
    "SOL_SAL_Tot_P" TEXT,
    "SOL_Other_Non_English_P" TEXT,
    "Language_spoken_home_ns_P" TEXT,
    "Total_P_Re_Language" TEXT,
    "Buddhism_P" TEXT,
    "Christianity_Tot_P" TEXT,
    "Hinduism_P" TEXT,
    "Islam_P" TEXT,
    "Judaism_P" TEXT,
    "Other_Religions_Tot_P" TEXT,
    "No_Religion_P" TEXT,
    "Religious_affiliation_ns_P" TEXT,
    "Tot_P_Re_Religion" TEXT,
    "Int_accessed_from_dwel_Ttl" TEXT,
    "Int_notaccessed_from_dwel_Ttl" TEXT,
    "Dwelling_Intconn_ns_Ttl" TEXT,
    "Tot_Dwell_Re_Internet" TEXT,
    "P_PGrad_Deg_Total" TEXT,
    "P_GradDip_and_GradCert_Total" TEXT,
    "P_BachDeg_Total" TEXT,
    "P_AdvDip_and_Dip_Total" TEXT,
    "P_Cert_Lev_Tot_Total" TEXT,
    "P_Lev_Edu_ID_NS_Total" TEXT,
    "P_Tot_Total_Re_NonSchEdu" TEXT,
    "P_Tot_Managers" TEXT,
    "P_Tot_Professionals" TEXT,
    "P_Tot_TechnicTrades_W" TEXT,
    "P_Tot_CommunPersnlSvc_W" TEXT,
    "P_Tot_ClericalAdminis_W" TEXT,
    "P_Tot_Sales_W" TEXT,
    "P_Tot_Mach_oper_drivers" TEXT,
    "P_Tot_Labourers" TEXT,
    "P_Tot_Occu_ID_NS" TEXT,
    "P_Tot_Tot_Occu" TEXT,
    "SEIFA_Score_IRSAD" TEXT,
    "Total_Persons_re_SEIFA" TEXT,
    "City_or_State_Reference" TEXT,
    "Age_Group_40_85" TEXT,
    "geom" geometry
);

-- CreateTable
CREATE TABLE "dataset_cmgsol3dt0001tr68zltdzqkz" (
    "gid" BIGSERIAL NOT NULL,
    "STE_CODE21" TEXT,
    "STE_NAME21" TEXT,
    "CHG_FLAG21" TEXT,
    "CHG_LBL21" TEXT,
    "AUS_CODE21" TEXT,
    "AUS_NAME21" TEXT,
    "AREASQKM21" TEXT,
    "LOCI_URI21" TEXT,
    "geom" geometry,

    CONSTRAINT "dataset_cmgsol3dt0001tr68zltdzqkz_pkey" PRIMARY KEY ("gid")
);

-- CreateTable
CREATE TABLE "dataset_cmgsosegf0001g4wrq8dculf2" (
    "gid" BIGSERIAL NOT NULL,
    "STE_CODE21" TEXT,
    "STE_NAME21" TEXT,
    "CHG_FLAG21" TEXT,
    "CHG_LBL21" TEXT,
    "AUS_CODE21" TEXT,
    "AUS_NAME21" TEXT,
    "AREASQKM21" TEXT,
    "LOCI_URI21" TEXT,
    "geom" geometry,

    CONSTRAINT "dataset_cmgsosegf0001g4wrq8dculf2_pkey" PRIMARY KEY ("gid")
);

-- CreateTable
CREATE TABLE "dataset_cmgsr8kmh0001y7mvafj08p2v" (
    "gid" BIGSERIAL NOT NULL,
    "public_id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "STE_CODE21" TEXT,
    "STE_NAME21" TEXT,
    "CHG_FLAG21" TEXT,
    "CHG_LBL21" TEXT,
    "AUS_CODE21" TEXT,
    "AUS_NAME21" TEXT,
    "AREASQKM21" TEXT,
    "LOCI_URI21" TEXT,
    "geom" geometry,

    CONSTRAINT "dataset_cmgsr8kmh0001y7mvafj08p2v_pkey" PRIMARY KEY ("gid")
);

-- CreateTable
CREATE TABLE "dataset_cmgsr9e4l0001bob5c479sr44" (
    "gid" BIGSERIAL NOT NULL,
    "public_id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "STE_CODE21" TEXT,
    "STE_NAME21" TEXT,
    "CHG_FLAG21" TEXT,
    "CHG_LBL21" TEXT,
    "AUS_CODE21" TEXT,
    "AUS_NAME21" TEXT,
    "AREASQKM21" TEXT,
    "LOCI_URI21" TEXT,
    "geom" geometry,

    CONSTRAINT "dataset_cmgsr9e4l0001bob5c479sr44_pkey" PRIMARY KEY ("gid")
);

-- CreateTable
CREATE TABLE "dataset_cmgsrnil10001oc1f6bgwiqcx" (
    "gid" BIGSERIAL NOT NULL,
    "public_id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "STE_CODE21" TEXT,
    "STE_NAME21" TEXT,
    "CHG_FLAG21" TEXT,
    "CHG_LBL21" TEXT,
    "AUS_CODE21" TEXT,
    "AUS_NAME21" TEXT,
    "AREASQKM21" TEXT,
    "LOCI_URI21" TEXT,
    "geom" geometry,

    CONSTRAINT "dataset_cmgsrnil10001oc1f6bgwiqcx_pkey" PRIMARY KEY ("gid")
);

-- CreateTable
CREATE TABLE "dataset_cmgsrqw4n0005oc1fcjfaafhj" (
    "gid" BIGSERIAL NOT NULL,
    "public_id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "id" TEXT,
    "lc_ply_pid" TEXT,
    "dt_create" TEXT,
    "dt_retire" TEXT,
    "loc_pid" TEXT,
    "act_locali" TEXT,
    "act_loca_1" TEXT,
    "act_loca_2" TEXT,
    "act_loca_3" TEXT,
    "act_loca_4" TEXT,
    "act_loca_5" TEXT,
    "act_loca_6" TEXT,
    "act_loca_7" TEXT,
    "nsw_locali" TEXT,
    "nsw_loca_1" TEXT,
    "nsw_loca_2" TEXT,
    "nsw_loca_3" TEXT,
    "nsw_loca_4" TEXT,
    "nsw_loca_5" TEXT,
    "nsw_loca_6" TEXT,
    "nsw_loca_7" TEXT,
    "nt_localit" TEXT,
    "nt_local_1" TEXT,
    "nt_local_2" TEXT,
    "nt_local_3" TEXT,
    "nt_local_4" TEXT,
    "nt_local_5" TEXT,
    "nt_local_6" TEXT,
    "nt_local_7" TEXT,
    "qld_locali" TEXT,
    "qld_loca_1" TEXT,
    "qld_loca_2" TEXT,
    "qld_loca_3" TEXT,
    "qld_loca_4" TEXT,
    "qld_loca_5" TEXT,
    "qld_loca_6" TEXT,
    "qld_loca_7" TEXT,
    "sa_localit" TEXT,
    "sa_local_1" TEXT,
    "sa_local_2" TEXT,
    "sa_local_3" TEXT,
    "sa_local_4" TEXT,
    "sa_local_5" TEXT,
    "sa_local_6" TEXT,
    "sa_local_7" TEXT,
    "tas_locali" TEXT,
    "tas_loca_1" TEXT,
    "tas_loca_2" TEXT,
    "tas_loca_3" TEXT,
    "tas_loca_4" TEXT,
    "tas_loca_5" TEXT,
    "tas_loca_6" TEXT,
    "tas_loca_7" TEXT,
    "vic_locali" TEXT,
    "vic_loca_1" TEXT,
    "vic_loca_2" TEXT,
    "vic_loca_3" TEXT,
    "vic_loca_4" TEXT,
    "vic_loca_5" TEXT,
    "vic_loca_6" TEXT,
    "vic_loca_7" TEXT,
    "wa_localit" TEXT,
    "wa_local_1" TEXT,
    "wa_local_2" TEXT,
    "wa_local_3" TEXT,
    "wa_local_4" TEXT,
    "wa_local_5" TEXT,
    "wa_local_6" TEXT,
    "wa_local_7" TEXT,
    "geom" geometry,

    CONSTRAINT "dataset_cmgsrqw4n0005oc1fcjfaafhj_pkey" PRIMARY KEY ("gid")
);

-- CreateTable
CREATE TABLE "dataset_cmgsruwfy0009oc1f4gzlne0c" (
    "gid" BIGSERIAL NOT NULL,
    "public_id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "id" TEXT,
    "lc_ply_pid" TEXT,
    "dt_create" TEXT,
    "dt_retire" TEXT,
    "loc_pid" TEXT,
    "act_locali" TEXT,
    "act_loca_1" TEXT,
    "act_loca_2" TEXT,
    "act_loca_3" TEXT,
    "act_loca_4" TEXT,
    "act_loca_5" TEXT,
    "act_loca_6" TEXT,
    "act_loca_7" TEXT,
    "nsw_locali" TEXT,
    "nsw_loca_1" TEXT,
    "nsw_loca_2" TEXT,
    "nsw_loca_3" TEXT,
    "nsw_loca_4" TEXT,
    "nsw_loca_5" TEXT,
    "nsw_loca_6" TEXT,
    "nsw_loca_7" TEXT,
    "nt_localit" TEXT,
    "nt_local_1" TEXT,
    "nt_local_2" TEXT,
    "nt_local_3" TEXT,
    "nt_local_4" TEXT,
    "nt_local_5" TEXT,
    "nt_local_6" TEXT,
    "nt_local_7" TEXT,
    "qld_locali" TEXT,
    "qld_loca_1" TEXT,
    "qld_loca_2" TEXT,
    "qld_loca_3" TEXT,
    "qld_loca_4" TEXT,
    "qld_loca_5" TEXT,
    "qld_loca_6" TEXT,
    "qld_loca_7" TEXT,
    "sa_localit" TEXT,
    "sa_local_1" TEXT,
    "sa_local_2" TEXT,
    "sa_local_3" TEXT,
    "sa_local_4" TEXT,
    "sa_local_5" TEXT,
    "sa_local_6" TEXT,
    "sa_local_7" TEXT,
    "tas_locali" TEXT,
    "tas_loca_1" TEXT,
    "tas_loca_2" TEXT,
    "tas_loca_3" TEXT,
    "tas_loca_4" TEXT,
    "tas_loca_5" TEXT,
    "tas_loca_6" TEXT,
    "tas_loca_7" TEXT,
    "vic_locali" TEXT,
    "vic_loca_1" TEXT,
    "vic_loca_2" TEXT,
    "vic_loca_3" TEXT,
    "vic_loca_4" TEXT,
    "vic_loca_5" TEXT,
    "vic_loca_6" TEXT,
    "vic_loca_7" TEXT,
    "wa_localit" TEXT,
    "wa_local_1" TEXT,
    "wa_local_2" TEXT,
    "wa_local_3" TEXT,
    "wa_local_4" TEXT,
    "wa_local_5" TEXT,
    "wa_local_6" TEXT,
    "wa_local_7" TEXT,
    "geom" geometry,

    CONSTRAINT "dataset_cmgsruwfy0009oc1f4gzlne0c_pkey" PRIMARY KEY ("gid")
);

-- CreateIndex
CREATE INDEX "dataset_cmgsr8kmh0001y7mvafj08p2v_public_id_idx" ON "dataset_cmgsr8kmh0001y7mvafj08p2v"("public_id" ASC);

-- CreateIndex
CREATE INDEX "dataset_cmgsr9e4l0001bob5c479sr44_public_id_idx" ON "dataset_cmgsr9e4l0001bob5c479sr44"("public_id" ASC);

-- CreateIndex
CREATE INDEX "dataset_cmgsrnil10001oc1f6bgwiqcx_public_id_idx" ON "dataset_cmgsrnil10001oc1f6bgwiqcx"("public_id" ASC);

-- CreateIndex
CREATE INDEX "dataset_cmgsrqw4n0005oc1fcjfaafhj_public_id_idx" ON "dataset_cmgsrqw4n0005oc1fcjfaafhj"("public_id" ASC);

-- CreateIndex
CREATE INDEX "dataset_cmgsruwfy0009oc1f4gzlne0c_public_id_idx" ON "dataset_cmgsruwfy0009oc1f4gzlne0c"("public_id" ASC);

